logs
target
/.idea
/.idea_modules
/.classpath
/.project
/project
/.settings
/RUNNING_PID
/.g8

.cache
.classpath

.idea/
.idea_modules/
*.iml

native/
target/

.ensime*
# vim swp files
*.swp

.history
*.log
.sbtopts
.DS_Store

.bsp
